

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


.cell-image {
    height: 25px;
    width: 25px;
    /* margin-right: 2rem; */
  }

  .table-cell{
    min-width: 150px;
    padding: right-auto;
   
  }
  .percent-red {
    color: red;
  }
  
  .percent-green {
    color: green;
  }
  
  