.crypto-container{
    display: flex;
    justify-content: center;
  
    
}


.crypto-symbol{
    text-transform: uppercase;
}
.crypto-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 5rem;
    width: 56.25rem;
    border-bottom: 0.063rem solid #ffff;
}
.crypto-data{
    display: flex;
    justify-content: space-between;
    text-align: right;
   
}
/* .crypto-text{
    text-align: center;
    margin-bottom: 2rem;
} */
.crypto{
   display: flex;
   align-items: center;
   padding-right: 1.5rem;
   min-width: 18.75rem;
   
 
}
.crypto h1{
   
    font-size: 1rem;
    width: 9.375rem;
}
.crypto img{
    height: 1.875rem;
    width: 1.875rem;
    margin-right:0.625rem;
}


.crypto-percent{
    width: 6.25rem;
   
}
.crypto-price{
    width: 7.5rem;
    
}
.crypto-marketcap{
    width:14.275rem;
    
}
.crypto-volume{
    width: 9.6875rem;
   

}


.red{
    color: #DC143C;
}
.green{
    color:#4CBB17	
    
}

/* need to add a hover effect over each crypto coin and a border box around */
/* need to add a logo and styling */
/* need to finish spacing out of the numbers */