* {
  background-color: black;
  color: #FBFAF5;
}

@media screen and (min-width: 768) {
  :root {
    font-size: 24px;
  }
}

@media screen and (min-width: 568) {
  :root {
    font-size: 16px;
  }
} 
